@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* Menu cabeçalho */
:root {
    --primary: #BD7E4E;
    --secondary: rgb(20, 21, 22);
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
  }


* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #2C3D4F;
    box-shadow: 0px 3px 10px #464646;
    
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 15rem;
}

.logo {
    display: flex;
    align-items: left;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #f8f6f6;
    font-weight: 400;
    transition: color 0.3s ease, font-size 0.3s ease; 
}

.nav-link:hover {
    color: #BD7E4E; 
    font-size: 1.25rem; 
}

.login-button button {
    margin-top: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f7f9fa63;
    transition: background-color 0.3s ease; 
}

.login-button button a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease, font-size 0.3s ease; 
}

.login-button button:hover a {
    color: #BD7E4E; 
    font-size: 1.2rem; 
}

.login-button button:hover {
    background-color: #e5e7e9; 
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Menu cabeçalho mobile */

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
