:root {
  --primary: #BD7E4E;
  --secondary: rgb(20, 21, 22);
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

/* Serviços section */
#key-benefits h2 {
  background-color: #2C3D4F;
  text-align: center;
  padding: 2em;
  font-weight: 500;
  color: var(--text-color);
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--primary);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  
}


#benefit-1 {
  background-image: url("../img/projeto01.jpg");
}

#benefit-2 {
  background-image: url("../img/projeto02.jpg");
}

#benefit-3 {
  background-image: url("../img/projeto03.jpg");
}


/* Info Arquiteta section */
#location {
  height: 400px;
  background: linear-gradient(rgba(13, 13, 14, 0.863)  , #2c3d4fa2),
    url("../img/rosto.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 2em;
}

#address,
#about-location {
  max-width: 30%;
}

/* Button insta e link */
#address {
  display: flex;
}

#address .insta {
  color: #E1306C;
  font-size: 4em;
  margin-right: 0.5em;
  transition: color 0.3s ease, transform 0.3s ease;
}

#address .link {
  color: #0077b5;
  font-size: 4em;
  margin-right: 0.5em;
  transition: color 0.3s ease, transform 0.3s ease;
}

#address .insta:hover {
  color: var(--primary);
  transform: scale(1.5); 
}

#address .link:hover {
  color: var(--primary);
  transform: scale(1.5); 
}


#address-details {
  text-align: start;
  font-size: 1.3em;
  width: 200px;
}

#about-location h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-location p {
  line-height: 1.5em;
}

/* Sobre a empresa */
.empresa-apresentacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #2C3D4F;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--primary);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--primary)
}

.card p {
  font-size: 1em;
  color: #f7f7f7;
}

.card ol {
  font-size: 1em;
  color: #f7f7f7;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--primary);
}


/* Fotos Portifolio section */

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
}
.portfolio-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--primary);
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.portfolio-item:hover img {
  transform: scale(1.4);
  
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}


/* Videos projetos */
.projetos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.projetos h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #2c3e50;
}


.projeto {
  background: #2C3D4F;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--primary);
}

.projeto h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 1.8em;
}

.projeto-conteudo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.projeto-video {
  flex: 1;
}

.projeto-video video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.projeto-texto {
  flex: 1;
}

.projeto-texto p {
  font-size: 1.1em;
  text-align: center;
  color: #ffffff;
}


/* Footer */
.footer {
  background: linear-gradient(#2c3d4f, #2c3d4f);
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  max-height: 50px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-social a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer-social a:hover {
  transform: scale(1.5);
  color: var(--primary);
}

.footer-social img {
  width: 50px;
  height: 50px;
}

.social-icon {
  color: #fff;
}

.footer-contact p {
  margin-bottom: 5px;
  text-align: right;
  color: #fff;
}

.js-scroll{
  color: #000;
}


/* Mobile */
@media (max-width: 450px) {
 
  /* Serviços section */
  .benefits {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
  }

  .benefit {
    max-width: 100%;
    margin-bottom: 2em;
  }

  /* Info Arquiteta section */
  #location {
    flex-direction: column;
    width: auto;
    text-align: center;
    padding: 2em 0;
  }

  #address {
    order: 2;
    flex-direction: column;
    max-width: 100%;
  }

  #address-details {
    text-align: center;
  }

  #address i {
    margin: 0.3em 0;
  }

  #about-location {
    order: 1;
    max-width: 100%;
  }

  #about-location h3 {
    margin-bottom: 0;
  }

  #about-location p {
    display: none;
  }

  /* Sobre empresa section */
  .empresa-apresentacao {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

/* Imagens Portifolio */
  .portfolio-title {
    font-size: 28px;
    margin-bottom: 15px;
}
.portfolio-grid {
    grid-template-columns: 1fr; 
    gap: 10px;
}
.portfolio-item img {
    height: auto;
}
.portfolio-item .overlay {
    font-size: 16px; 
    padding: 10px;
}

/* Videos projetos */
.projeto-conteudo {
  flex-direction: column;
}

.projeto-video, .projeto-texto {
  flex: none;
  width: 100%;
}

.projeto-video {
  margin-bottom: 15px;
}

  /* Footer */

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-contact {
    margin-top: 20px;
  }

  .footer-contact p {
    text-align: center;
  }
}
